@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Arial"
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    border-bottom: 1px solid black;
}

.logo {
    height: 40px;
}

.searchBar {
    width: 60%;
}

.searchBar > input {
    width: 100%;
    height: 30px;
    border-radius: 5px;
    border: 1px solid black;
    padding: 3px;
}

.shoppingCart {
    position: relative;
}

.material-symbols-outlined.shopping-cart {
    display: inline-block;
    font-size: 35px;
    cursor: pointer;
}

.itemCounter {
    display: inline-block;
    position: absolute;
    text-align: center;
    background-color: rgb(253, 111, 111);
    height: 1rem;
    width: 1rem;
    border-radius: 0.5rem;
    font-size: 0.8rem;
    font-weight: bold;
    line-height: 1rem;
    top: -3px;
    right: -5px;
}